<form [formGroup]='mainGroup' novalidate>
  <CommonInput [config]='config1'></CommonInput>
  <CommonInput [config]='config2'></CommonInput>
  <CommonInput [config]='config3'></CommonInput>
  <p>control1: {{mainGroup.value.control_1}}</p>
  <p>control2: {{mainGroup.value.control_2}}</p>
  <p>control3: {{mainGroup.value.control_3}}</p>
  <CommonSelect [config]='configSelect1'></CommonSelect>
  <CommonSelect [config]='configSelect2'></CommonSelect>
  <CommonSelect [config]='configSelect3'></CommonSelect>
  <p>select1: {{mainGroup.value.select_1}}</p>
  <p>select2: {{mainGroup.value.select_2}}</p>
  <p>select3: {{mainGroup.value.select_3}}</p>

</form>
{{mainGroup.value|json}}
{{mainGroup.valid}}
<button type='button' (click)="resetForm()">reset form</button>
<button type='button' (click)="setValue()">change value</button>
